[Unit]
Description=CU Parser

[Service]
Type=simple
ExecStart=python /etc/inventec_svt_deployment/smallcell/cu_parser.pyc

[Install]
WantedBy=multi-user.target
