[Unit]
Description=DU Parser

[Service]
Type=simple
ExecStart=/usr/bin/python /etc/inventec_svt_deployment_smallcell/cu_parser_indoor.pyc

[Install]
WantedBy=multi-user.target
